- page_title 'Edit <%= singular_name.titleize %>'

%h1 Edit <%= singular_name.humanize.downcase %>
= error_messages_for :<%= singular_name %>
- form_for @<%= singular_name %>, :html => {:class => :fancy} do |f|
  %ul
    <%= render_fields %>
    %li.buttons
      = f.submit 'Update'

<%- if actions? :show, :index -%>
<%- if action? :show -%>
= link_to 'Show', <%= singular_name %>_path(@<%= singular_name %>)
|
<%- end -%>
<%- if action? :index -%>
= link_to 'Back', <%= plural_name %>_path
<%- end -%>
<%- end -%>
