- page_title "<%= singular_name.titleize %>"

%h1== <%= singular_name.titleize %>

<%- for attribute in attributes -%>
%dl{:class => cycle('odd', 'even')}
  %dt <%= attribute.column.human_name.titleize %>
  %dd= h @<%= singular_name %>.<%= attribute.name %>
<%- end -%>

<%- if action? :index -%>
%p= link_to 'Back', <%= plural_name %>_path
<%- end -%>
